body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: #414141;
}
body::-webkit-scrollbar-thumb {
  background: #e874ff;
  border-radius: 5px;
}

.App {
  text-align: center;
}

.App-logo {
  object-fit: contain;
  height: 250px;
}

.App-content {
  background-color: #505050;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 16px;
  text-align: left;
}

a {
  color: #fff;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  margin: .5rem;
  color: #fff;
}

button {
  font-size: 48px;
}